 @import (less) "../node_modules/powerbi-visuals-utils-interactivityutils/lib/index.css";
 @import (less) "../node_modules/powerbi-visuals-utils-chartutils/lib/index.css";

.visual {
    .gantt-body {
        overflow: auto;
        position: absolute;
    }
    
    .gantt {
        position: absolute;
        .axis {
            path, line {
                stroke: #000;
            }
    
            path {
                fill: none;
                stroke-width: 1.5;
            }
    
            line {
                stroke-width: 1;
            }
    
            font-size: 10px;
        }
    
        .tasks {
            .task {
                .task-resource {
                    font-size: medium;
                    font-weight: 400;
                    font-family: 'Roboto',-apple-system,BlinkMacSystemFont,sans-serif;
                    font-style: italic;
                    text-align: center;
                    letter-spacing: .22px;
                }
    
                .task-progress {    
                    opacity: 1;
                }
                .task-pseudo-gradient{
                    opacity: .4;
                    fill: white!important;
                }
            }
        }
    
        .chart-line {
            stroke-width: 2px;
            stroke-dasharray: 3, 3;
            stroke: #000;
        }
    
        .task-labels {
            width: 110px;
        }
    
        .task-lines{
            .label {
                font-family: 'Roboto',-apple-system,BlinkMacSystemFont,sans-serif;
                font-weight: 400;
                letter-spacing: .22px;
                
                .parent{
                    font-weight: 700;
                }

                .child {
                    font-style: oblique
                }
            }
        }
    }
}
